.loading-text {
	font-size: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}