.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.cart-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.cart-product-container {
    box-shadow: 0 2px 2px -2px gray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-image {
    height: 15vh;
    border-radius: 5px;
}

.cart-product-quantity-input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: none;
    box-shadow: 0 0 0 1px rgb(130, 130, 130);
    font-size: 1rem;
    border-radius: 4px;
    margin: 0px 20px 0px 0px;
}

.cart-product-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart-product-price-container > p {
    margin: 7px;
}

.order-button {
    font-family: Raleway;
    margin-left: 100%;
    margin-right: 100px;
    margin-top: 20px;
    background-color: #5ECE7B;
    color: white;
    border: none;
    width: 15vh;
    height: 5vh;
    cursor: pointer;
    border-radius: 2px;
}

.empty-bag-container {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-bag-message {
    font-weight: 100;
    font-size: 30px;
}

.total-container {
    width: 100%;
    margin-right: 30vh;
}

.total-info {
    margin-left: 90%;
    width: 209px;
}

.tax-info > {
    font-family: RobotoCondensed;
}
