.product-wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:left;
    margin: 10px;
    border-radius: 3px;
    transition: all 0.6s;
}

.product-wrapper:hover {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(1, 0, 0, 0.3);
    box-shadow:0 1px 6px 1px rgba(0, 0, 0, 0.3);
}

.info-price-stock-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.image {
    margin: 30px 30px 0px 30px;
    height: 42vh;
    width: 42vh;
    object-fit:cover;
    border-radius: 5px;
}

.info-title {
    margin-top: 4px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2px;
}

.info-brand {
    margin: 4px 0px 0px 40px;
    font-weight: 100;
    font-size: 15px;
}

.info-price {
    font-weight: 500;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 18px;
}

.out-stock {
    filter: opacity(30%);
}

.out-stock-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.out-stock-text {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-top: -60%; 
}

.add-product-button {
    height: 7vh;
    cursor: pointer;
}